/* -------------------- Overall style ------------------*/
body {
  font-family: "DM Sans", sans-serif;
  background-color: #f9f9f9 !important;
  font-size: 16px;
}

h1 {
  font-family: "DM Sans", sans-serif;
  color: #333;
}

.card {
  box-shadow: 10px 24px 44px rgba(34, 37, 169, 0.2);
  border-radius: 20px !important;
  padding: 30px;
  border: 0 !important;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  line-height: 30px;
  list-style: none;
}

.user {
  color: #3d41d7;
  text-decoration: none;
}
